@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.events-map-tlparent {
  display: flex;
  flex-direction: column;
  background-image: url("https://dpqe9pvop7vdk.cloudfront.net/events/images_cards/map.png");
  height: 170vh;
  width: 100vw;
  background-size: cover;
  background-position: right;
  align-items: center;
  justify-content: space-around;
}

.events-map-ul {
  position: relative;
  width: 100vw;
  display: flex;
  overflow: visible;
  text-align: center;
  justify-content: space-evenly;
  padding: 0px 10px;
  flex-wrap: wrap;
}

#events-map-ul1 {
  top: 10rem;
}

#events-map-ul2 {
  top: 15rem;
}

#events-map-ul3 {
  top: 20rem;
}

.events-map-container {
  width: 100vw;  
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#events-map-ul1:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 10px;
  top: 0;
  left: 0;
  border: none;
  border-top: 6px dashed rgb(228, 220, 220);
}

#events-map-ul2:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 10px;
  top: 0;
  left: 0;
  border: none;
  border-top: 6px dashed rgb(228, 220, 220);
}

#events-map-ul3:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 10px;
  top: 0;
  left: 0;
  border: none;
  border-top: 6px dashed rgb(228, 220, 220);
}

#events-map-l {
  color: #f1ece2;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  font-family: EnchantedLight;
  margin: 7px 5px;
  padding: 10px 10px;
  overflow: visible;
}

.events-map-span {
  position: absolute;
  padding-bottom: 5px;
  color: red;
  font-size: 30px;
  font-family: "Lilita One", sans-serif;
  top: -20px;
}
