main {
  position: relative;
  background-color: #353;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  width: 2800px;
  transform: translate3d(-50%, -50%, 0);
  top: calc(50% - 390px);
  left: calc(50% - 110px);
  z-index: 1;
}

.glow {
  position: absolute;
  width: 1800px;
  transform: translate3d(-50%, -50%, 0);
  top: calc(50% + 100px);
  left: calc(50% + 10px);
  z-index: 1;
}

.fog-7 {
  position: absolute;
  z-index: 2;
  width: 1900px;
  transform: translate3d(-50%, -50%, 0);
  top: calc(50% - 100px);
  left: calc(50% + 300px);
}

.mountain-10 {
  position: absolute;
  z-index: 3;
  width: 892px;
  transform: translate3d(-50%, -50%, 0);
  top: calc(50% - 69px);
  left: calc(50% + 230px);
}

.fog-6 {
  position: absolute;
  z-index: 4;
  width: 1610px;
  transform: translate3d(-50%, -50%, 0);
  top: calc(50% - 85px);
  left: calc(50% + 10px);
}

.mountain-9 {
  position: absolute;
  z-index: 5;
  width: 470px;
  top: calc(50% + 113px);
  transform: translate3d(-50%, -50%, 0);
  left: calc(50% - 457px);
}

.mountain-8 {
  position: absolute;
  z-index: 6;
  width: 810px;
  transform: translate3d(-50%, -50%, 0);
  top: calc(50% + 86px);
  left: calc(50% - 202px);
}

.fog-5 {
  position: absolute;
  z-index: 7;
  width: 450px;
  transform: translate3d(-50%, -50%, 0);
  top: calc(50% + 160px);
  left: calc(50% + 20px);
}

.mountain-7 {
  position: absolute;
  z-index: 8;
  width: 408px;
  transform: translate3d(-50%, -50%, 0);
  top: calc(50% + 60px);
  left: calc(50% + 590px);
}

.text {
  position: absolute;
  z-index: 15;
  top: calc(50% - 100px);
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  color: #fff;
}

.events-heading {
  height: 300px;
  /* backdrop-filter: blur(2px); */
}

.divider {
  width: 75vw;
}

.text2 {
  position: absolute;
  z-index: 100;
  top: calc(50% + 150px);
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  color: #f0e6d2;
}

.text2 p {
  font-family: enchantedLight;
  font-weight: 50;
  font-size: 2.5rem;
  pointer-events: auto;
  line-height: 1;
}

/* .text h1{
    font-family: enchantedFont;
    text-transform: uppercase;
    font-weight: 200;
    pointer-events: auto;
    font-size:15rem;
    line-height:1;
} */

.mountain-6 {
  position: absolute;
  z-index: 10;
  width: 480px;
  transform: translate(-50%, -50%);
  top: calc(50% + 22px);
  left: calc(50% + 590px);
}

.fog-4 {
  position: absolute;
  z-index: 11;
  width: 625px;
  transform: translate(-50%, -50%);
  top: calc(50% + 223px);
  left: calc(50% - 60px);
}

.mountain-5 {
  position: absolute;
  z-index: 12;
  width: 538px;
  transform: translate(-50%, -50%);
  top: calc(50% + 250px);
  left: calc(50% + 130px);
}

.fog-3 {
  position: absolute;
  z-index: 13;
  width: 538px;
  transform: translate(-50%, -50%);
  top: calc(50% + 110px);
  left: calc(50% - 15px);
}

.mountain-4 {
  position: absolute;
  z-index: 14;
  width: 464px;
  transform: translate(-50%, -50%);
  top: calc(50% + 196px);
  left: calc(50% - 381.5px);
}

.mountain-3 {
  position: absolute;
  z-index: 14;
  width: 464px;
  transform: translate(-50%, -50%);
  top: calc(50% + 150px);
  left: calc(50% + 750px);
}

.fog-2 {
  position: absolute;
  z-index: 15;
  width: 1560px;
  transform: translate(-50%, -50%);
  top: calc(50% + 147px);
  left: calc(50% - 30px);
}

.mountain-2 {
  position: absolute;
  z-index: 16;
  width: 700px;
  transform: translate(-50%, -50%);
  top: calc(50% + 180px);
  left: calc(50% + 400px);
}

.mountain-1 {
  position: absolute;
  z-index: 17;
  width: 464px;
  transform: translate(-50%, -50%);
  top: calc(50% + 120px);
  left: calc(50% - 850px);
}

.black-shadow {
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0;
  width: 100px;
  pointer-events: none;
}

.fog-1 {
  position: absolute;
  z-index: 21;
  width: 1600px;
  transform: translate(-50%, -50%);
  top: calc(100% - 355px);
  left: 50%;
}

.vignette {
  position: absolute;
  z-index: 23;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.9)
  );
  pointer-events: none;
}

.fireflies-left {
  position: absolute;
  z-index: 22;
  width: 500px;
  transform: translate(-50%, -50%);
  top: calc(50% + 100px);
  left: calc(50% - 740px);
}

.fireflies-right {
  position: absolute;
  z-index: 22;
  width: 500px;
  transform: translate(-50%, -50%);
  top: calc(50% + 150px);
  left: calc(50% + 800px);
}

.fireflies-3 {
  position: absolute;
  z-index: 22;
  width: 700px;
  transform: translate(-50%, -50%);
  top: calc(50% + 250px);
  left: calc(50% + 420px);
}

.fireflies-4 {
  position: absolute;
  z-index: 22;
  width: 600px;
  transform: translate(-50%, -50%);
  top: calc(50% + 200px);
  left: calc(50% - 420px);
}

.fireflies-5 {
  position: absolute;
  z-index: 22;
  width: 700px;
  transform: translate(-50%, -50%);
  top: calc(50% + 100px);
  left: calc(50% + 40px);
}

.parallax {
  pointer-events: none;
  transform-style: preserve-3d;
  /*transition: 0.45s ;*/
  /* cubic-bezier(.2,.56,.25,.98); */
}

.nav {
  z-index: 200;
}

.nav-icon {
  color: #fcf6ba;
}

@media only screen and (min-width: 1824px) {
  /* big screen */
}

@media only screen and (min-width: 1224px) {
  /* laptop */
}

@media only screen and (max-width: 1224px) {
  /* tablets or mobiles */
  .events-heading {
    width: 90vw;
    height: auto;
  }

  .text2 p {
    font-weight: 50;
    font-size: 5vw;
  }
}
