@import url("https://fonts.googleapis.com/css2?family=Allura&family=Tangerine:wght@700&display=swap");

.wrapper {
  /* background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%); */
  font-size: 12px;
  background: url("/src/assets/contact/images/bg.jpg");
}

.wrapper,
.wrapper button,
.wrapper input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background-witcher {
  display: flex;
  min-height: 100vh;
}

.container-witcher {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen-witcher {
  position: relative;
  /* background: #3e3e3e; */
  border: 1px solid #ffd700; /* Thin golden border */
  padding: 0 10px 20px 10px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("path/to/your/image.jpg") center/cover no-repeat;
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  transition: all 0.3s ease; /* Add transitions for smooth effect */
  border-radius: 15px;
}
.screen-witcher:hover {
  box-shadow: 0 0 10px #ffd700;

  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.2);
}
.screen-witcher:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header-witcher {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-witcher:hover {
  backdrop-filter: blur(2px); /* Adjust the blur value for hover state */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Lighter background color on hover */
}

.screen-header-left-witcher {
  margin-right: auto;
}

.screen-header-button-witcher {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button-witcher.close-witcher {
  background: #ed1c6f;
}

.screen-header-button-witcher.maximize-witcher {
  background: #e8e925;
}

.screen-header-button-witcher.minimize-witcher {
  background: #74c54f;
}

.screen-header-right-witcher {
  display: flex;
}

.screen-header-ellipsis-witcher {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body-witcher {
  display: flex;
}

.screen-body-item-witcher {
  flex: 1;
  padding: 35px;
}

.screen-body-item-witcher.left-witcher {
  display: flex;
  flex-direction: column;
}

.app-title-witcher {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffd966;
  font-size: 26px;
  margin-bottom: 10px;
}

/* .app-title-witcher:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 85px;
  height: 4px;
  background: #ea1d6f;
} */

.app-contact-witcher {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group-witcher {
  margin-bottom: 15px;
}

.app-form-group-witcher.message-witcher {
  margin-top: 40px;
}

.app-form-group-witcher.buttons-witcher {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control-witcher {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control-witcher::placeholder {
  color: #666;
}

.app-form-control-witcher:focus {
  border-bottom-color: #ddd;
}

.app-form-button-witcher {
  background: none;
  border: none;
  color: #ffd700;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button-witcher:hover {
  color: #16ff00;
}

.font-text {
  font-size: 22px;
  margin: 5px 12px 10px 0;
}
.credits-witcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link-witcher {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble-witcher {
  width: 20px;
  height: 20px;
}

#contact-head {
  width: 100%;
}

#hr {
  width: 80%;
}

.header-witcher {
  position: relative;
  top: 10% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0px;
}

#br {
  position: absolute;
  bottom: 5%;
  width: 26rem;
}

.team-header {
  position: relative;
  font-family: "Tangerine", cursive;
  font-size: 1.6rem;
  color: #fcffb2;
}

/* .team-header:after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 35px;
  height: 2px;
  background: rgba(234, 29, 111, 0.5);
} */

.span-emoji {
  font-size: 18px;
}

.heads-name {
  font-family: "Tangerine", cursive;
  font-size: 1rem;
}

.heads-contact {
  font-weight: 100;
}
