@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap");
/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive, sans-serif;
; /* Replace 'CursiveFontName' with the actual cursive font you want to use */
/* }
:root {
  --scrollTop: 0;
  --index: calc(1vw + 1vh);
  --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  */


.fp-header {
  position: relative;
}

.fp-header::after {
  content: "";
  position: absolute;
  bottom: calc(var(--index) * -4.5);
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url("https://i.ibb.co/DM2Knwf/ground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Add this CSS to your existing stylesheet */

/* ... your existing CSS ... */

/* Add this CSS for the stag photo */

.fp-video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%; /* 16:9 aspect ratio (9 / 16 * 100) */
  overflow: hidden;
}

.fp-video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .fp-video-container {
    height: 50vh; /* Adjust for smaller screens */
  }
}
.fp-centered-content {
  width: 60%;
  position: absolute;
  top: 75%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; /* Ensure the centered content is above the video */
  /* box-shadow: 0 0 20px rgba(255, 223, 0, 0.8); */
}
.fp-centered-above {
  width: 40%;
  position: absolute;
  top: 56%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; /* Ensure the centered content is above the video */
  /* box-shadow: 0 0 20px rgba(255, 223, 0, 0.8); */
}
.fp-centered-below {
  width:28%;
  position: absolute;
  top: 92%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; /* Ensure the centered content is above the video */
  /* box-shadow: 0 0 20px rgba(255, 223, 0, 0.8); */
}

.fp-centered-image {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 100%;
  animation: fadeInUp 1.5s ease-out forwards; /* Ensure the image doesn't exceed the container height */
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(
      50px
    ); /* Move the image down by 50 pixels initially */
  }
  to {
    opacity: 1;
    transform: translateY(
      0
    ); /* Bring the image back to its original position */
  }
}

@media (max-width: 768px) {
  .fp-image-container {
    height: auto;
  }
}

.fp-article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: transparent;
  background-image: url("https://i.ibb.co/ryQdX3b/dungeon.jpg");
  background-size: cover;
  background-position: center;
  color: #e7e7e0;
  text-align: center;
  top: -1px;
  z-index: 10;

  font-family: "MedievalSharp", cursive;
}
.fp-article-title {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  transform: translateY(calc(var(--scrollTop) / -7.5));
  transition: var(--transition);
  will-change: transform;
}
.fp-article-text {
  max-width: calc(var(--index) * 30);
  font-size: calc(var(--index) * 0.9);
  margin-top: calc(var(--index) / 1.25);
  transform: translateY(calc(var(--scrollTop) / -7.5));
  transition: var(--transition);
  will-change: transform;
  font-size: 25px;
}
.fp-content {
  will-change: transform;
}

#fp-Bottom {
  background-image: url(https://cdn-hogwartslegacy.warnerbrosgames.com/home/bg-bottom-m.jpg);
}

@media (min-width: 992px) {
  .fp-webp #Bottom {
    background-image: url(https://cdn-hogwartslegacy.warnerbrosgames.com/home/bg-bottom.webp);
  }
  .fp-no-webp #Bottom {
    background-image: url(https://cdn-hogwartslegacy.warnerbrosgames.com/home/bg-bottom.jpg);
  }
}
.fp-page-container {
  position: relative;
}

.fp-cover-image-sequence {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fp-cover-image-sequence img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.fp-cover-image-sequence img.active {
  opacity: 1;
}

.fp-small-image-container {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Make sure it's above the cover images */
}

.fp-small-image {
  width: 0px; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
}

#fp-background-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  display: flex;
}
