@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap');


:root {
  --scrollTop: 0;
  --index: calc(1vw + 1vh);
  --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

.header {
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  bottom: calc(var(--index) * -4.5);
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url('https://i.ibb.co/DM2Knwf/ground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.layers {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.layer-base {
  background-image: url('src/assets/main_page/images/imag2.jpg');
  will-change: transform;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  transform: translateY(calc(var(--scrollTop) / 1.6));
  background-size: cover;
  background-position: center;
  transition: var(--transition);
}

.layer-middle {
  background-image: url('src/assets/main_page/images/merged.png');
  will-change: transform;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  transform: translateY(calc(var(--scrollTop) / 2.5));
  background-size: cover;
  background-position: center;
  transition: var(--transition);
}
  
.layer-front {
  background-image: url('src/assets/main_page/images/trunck.png');
  will-change: transform;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  transform: translateY(calc(var(--scrollTop) / 5.7));
  background-size: cover;
  background-position: center;
  transition: var(--transition);
}

.layer-title {
  will-change: transform;
  position: relative;
  z-index: 1;
  color: #e7e7e0;
  transform: translateY(calc(var(--scrollTop) / 2));
  transition: var(--transition);
  text-shadow: 0 0 15px #9d822b;
  text-transform: uppercase;
  font-family: 'MedievalSharp', cursive;
  font-weight: 900;
}

.title {
  margin-bottom: 80px;
  font-size: calc(var(--index) * 2.65);
  letter-spacing: calc(var(--index) / 2.25);
  font-family: 'MedievalSharp', cursive
}

.subtitle {
  margin-top: calc(var(--index) * -0.75);
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.5);
  font-family: 'MedievalSharp', cursive
}

.article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: transparent;
  background-image: url('src/assets/main_page/images/2.jpeg');
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
  top: -1px;
  z-index: 10;
  
  font-family: 'MedievalSharp', cursive
}
.article-title {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  transform: translateY(calc(var(--scrollTop) / -7.5));
  transition: var(--transition);
  will-change: transform;
}
.article-text {
  max-width: calc(var(--index) * 30);
  font-size: calc(var(--index) * 0.9);
  margin-top: calc(var(--index) / 1.25);
  transform: translateY(calc(var(--scrollTop) / -7.5));
  transition: var(--transition);
  will-change: transform;
  font-size: 25px;
}
.content {
  will-change: transform;
}

.copy {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
  opacity: 0.45;
  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 37.5);
}


.dot{
  width:4px;
  height:4px;
  position:absolute;
  background-color:gold;
  box-shadow:0px 0px 10px 2px gold;
  border-radius: 20px;
  z-index:2;
}
