@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

.btn {
  padding: 1rem;
  border: none;
  overflow: hidden;
}

.view-btn {
  display: block;
  margin: auto;
  margin-top: 5rem;
  border-radius: 0.40rem;
  background-color: rgba(65, 139, 212,0.4);
  color: rgba(207, 207, 207, 1);
  font-weight: bold;
  font-size: 18px;
  border: 1px solid rgba(207, 207, 207, 0.5);
}

.view-btn:hover {
  color: white;
}


@media only screen and (max-width: 480px) {
  .btn {
    padding: 0.8rem;
    font-size: 13px;
  }
  
}
