body {
  background-color: black;
}

.preview-container {
  margin: 0;
  margin-top: 10rem;
  padding: 0;
}

.preview-container>*>*, .preview-container>*>*>* {
  overflow-x: visible;
}

@keyframes clouds-loop-1 {
  to {
    background-position: -1500px 0;
  }
}

@keyframes clouds-loop-2 {
  to {
    background-position: -1500px 0;
  }
}

@keyframes clouds-loop-3 {
  to {
    background-position: -1500px 0;
  }
}

.clouds {
  opacity: 0.25;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.clouds-1,
.clouds-2,
.clouds-3 {
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 500px;
}

.clouds-1 {
  background-image: url("https://s.cdpn.io/15514/clouds_2.png");
  animation: clouds-loop-1 25s infinite linear;
  animation-iteration-count: infinite;
}

.clouds-2 {
  background-image: url("https://s.cdpn.io/15514/clouds_1.png");
  animation: clouds-loop-2 100s infinite linear;
  animation-iteration-count: infinite;
}

.clouds-3 {
  background-image: url("https://s.cdpn.io/15514/clouds_3.png");
  animation: clouds-loop-3 100s infinite linear;
  animation-iteration-count: infinite;
}

#container {
  position: relative;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.al-center {
  align-items: center;
}

.banner {
  padding: 4rem !important;
}

.swiper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.swiper-slide {
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  border-radius: 0.5rem;
}

.swiper-slide img {
  height: 100%;
  width: 40rem;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 4px solid white;
}

.swiper-slide-active img {
  border: 4px solid #d4af37;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 20px;
  width: 40px;
  height: 40px;
  --swiper-navigation-color: #d4af37;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.btn {
  padding: 1rem;
  border: none;
  overflow: hidden;
}

.view-btn {
  display: block;
  margin: auto;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(17, 18, 19);
  color: #d4af37;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #d4af37;
  margin-bottom: 1rem;
}

.preview_downline {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview_past-events {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-divider{
  width:70rem;
}

@media only screen and (max-width: 375px) {
  .swiper-slide img {
    width: 18rem;
    border: 2px solid white;
  }

  .preview_downline img {
    width: 15rem;
  }

  .preview_past-events img {
    width: 15rem;
  }

  .swiper-slide-active img {
    border: 2px solid #d4af37;
  }


  .btn{
    padding: 0.75rem; 
  }
}

@media only screen and (min-width: 376px) and (max-width: 480px) {
  .swiper-slide img {
    width: 20rem;
    border: 2px solid white;
  }

  .preview_downline img {
    width: 40rem;
  }

  .preview_past-events img {
    width: 15rem;
  }

  .swiper-slide-active img {
    border: 2px solid #d4af37;
  }


  .btn{
    padding: 0.75rem; 
  }
}


@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .swiper-slide img {
    width: 30rem;
    border: 2px solid white;
  }

  .preview_downline img {
    width: 70rem;
  }

  .preview_past-events img {
    width: 20rem;
  }

  .swiper-slide-active img {
    border: 2px solid #d4af37;
  }

  .btn{
    padding: 0.75rem; 
  }
}


