.nav-link {
  text-decoration: none;
  color: rgb(235, 198, 119);
}

nav {
  font-family:SpiegelRegular ;
  z-index: 2;
  position: fixed;
  top: 2%;
  color: rgb(200, 155, 60);;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  align-items: center;
  padding: 0 1rem;

  .nav-logo img {
    width: 100px;
    height: 100px;
  }

  .nav-list {
    margin-top: 1rem !important;
    display: flex;
    margin: 0;
    box-sizing: border-box;
  }

  .nav-list-item {
    width: 5rem;
    list-style: none;
    z-index: 1;
    align-items: center;
    transition: 0.5s ease-in;

    &:hover {
      .nav-icon{
        color:#BF953F;
      }
      .nav-text {
        color:#FCF6BA;
        visibility: visible;
      }
    }
  }

  .nav-text {
    align-items: center;
    text-align: center;
    margin: 0;
    transition: 0.5s ease-in;
    font-size: 18px;
    visibility: hidden;
  }

  .nav-icon {
    margin: auto;
    text-align: center;
    fill: white;
    border: 4px solid transparent;
    border-radius: 50%;
    transition: border-color 0.5s ease-in;

    svg {
      font-size: 36px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .nav {
    padding: 0 0.25rem;
    .nav-logo img {
      width: 50px;
      height: 50px;
    }

    .nav-icon {
      padding: 0.3rem 0rem;
      margin: auto;
      text-align: center;
      fill: white;
      border: 4px solid transparent;
      border-radius: 50%;
      transition: border-color 0.5s ease-in;

      svg {
        font-size: 24px;
      }
    }

    .nav-list-item {
      margin: 0;
      width: auto;
    }

    .nav-text {
      font-size: 12px;
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 737px) {
  .nav {
    padding: 0 1rem;
    .nav-logo img {
      width: 50px;
      height: 50px;
    }

    .nav-icon {
      margin: auto;
      margin-bottom: 0.25rem;
      text-align: center;
      fill: white;
      border: 4px solid transparent;
      border-radius: 50%;
      transition: border-color 0.5s ease-in;

      svg {
        font-size: 24px;
      }
    }

    .nav-list-item {
      margin: 0;
      width: auto;
    }

    .nav-text {
      font-size: 12px;
    }
  }
}
