* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(33, 28, 28);
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* or background-size: cover; depending on your preference */
  height: 130vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  width: 40rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

@keyframes clouds-loop-1 {
  to {
    background-position: -1500px 0;
  }
}

@keyframes clouds-loop-2 {
  to {
    background-position: -1500px 0;
  }
}

@keyframes clouds-loop-3 {
  to {
    background-position: -1500px 0;
  }
}

.clouds {
  opacity: 0.25;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.clouds-1,
.clouds-2,
.clouds-3 {
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 500px;
}

.clouds-1 {
  background-image: url("https://s.cdpn.io/15514/clouds_2.png");
  animation: clouds-loop-1 10s infinite linear;
}

.clouds-2 {
  background-image: url("https://s.cdpn.io/15514/clouds_1.png");
  animation: clouds-loop-2 50s infinite linear;
}

.clouds-3 {
  background-image: url("https://s.cdpn.io/15514/clouds_3.png");
  animation: clouds-loop-3 50s infinite linear;
}

#container {
  width: 100vw;
  position: relative;
}
.img_div {
  display: flex;
  justify-content: center;
}
.dot {
  width: 3px;
  height: 3px;
  background-color: rgba(212, 212, 0);
  box-shadow: 0px 0px 10px 2px #ff5500;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.preview-container {
  padding-top: 10rem;
}

@media only screen and (max-width: 900px) {
  .preview-container {
    padding-top: 15rem;
  }

  .swiper-slide {
    background-position: center;
    width: 40rem;
  }
}

@media only screen and (max-width: 480px) {
  .preview-header {
    font-size: 36px;
    margin-bottom: 10rem;
  }

  .swiper-slide {
    width: 22.5rem;
  }

  .img_div img {
    width: 20rem;
  }
  .preview-container {
    padding-top: 12rem;
  }
  .body {
    height: 120vh;
  }
}

@media only screen and (max-width: 320px) {
  .preview-header {
    font-size: 30px;
    margin-bottom: 5rem;
  }

  #container {
    width: 50%;
  }
  .swiper-slide {
    width: 15rem;
  }
  .body {
    height: 120vh;
  }
}

@media only screen and (max-height: 680px) {
  .body {
    height: 180vh !important;
  }
}
