@import url('https://fonts.googleapis.com/css2?family=Allura&family=Tangerine:wght@700&display=swap');

.loader-header {
  font-family: 'Tangerine', cursive;
  font-size: 36px;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}

#bg {
  /* background-color: #004225; */
  background: url(/src/assets/loader/images/forest-canopy3.jpg);
  background-size: cover; /* Ensures full coverage without repeating */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 25px;
  color: white;
}

#liquid1-clip,
#liquid2-clip {
  transform-origin: 50% 50%;
}

#liquid1-clip {
  animation: swingLeft 3s ease-out infinite;
}

#liquid2-clip {
  animation: swingLeft 3s easeo-ut infinite;
  animation-delay: 3s;
}

#liquid1 {
  transform-origin: 50% 50%;
  animation: liquid1Fill 3s linear infinite;
}

#liquid2 {
  transform-origin: 50% 50%;
  animation: liquid2Fill 3s linear infinite;
}

#bubble1 {
  transform-origin: 50% 50%;
  animation: bubbleRise1 3s linear infinite;
}

#bubble2 {
  animation: bubbleRise2 3s linear infinite;
}

@keyframes liquid1Fill {
  0% {
    transform: translate(0px, 180px) scaleX(-1);
  }
  25% {
    transform: translate(10px, 144px) scaleX(-2);
  }
  50% {
    transform: translate(0px, 108px) scaleX(-3);
  }
  75% {
    transform: translate(-10px, 72px) scaleX(-2);
  }
  100% {
    transform: translate(0px, 36px) scaleX(-1);
  }
}

@keyframes liquid2Fill {
  0% {
    transform: translate(-5px, 165px) scaleX(1);
  }
  25% {
    transform: translate(-15px, 129px) scaleX(3);
  }
  50% {
    transform: translate(-5px, 93px) scaleX(2);
  }
  75% {
    transform: translate(5px, 57px) scaleX(2);
  }
  100% {
    transform: translate(-5px, 21px) scaleX(1);
  }
}

@keyframes bubbleRise1 {
  from {
    transform: translate(60px, 280px);
  }
  to {
    transform: translate(60px, 100px);
  }
}

@keyframes bubbleRise2 {
  from {
    transform: translate(125px, 280px) rotate(45deg);
  }
  to {
    transform: translate(125px, 85px) rotate(45deg);
  }
}

@keyframes swingLeft {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes swingRight {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
