@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&display=swap");

.sponsors-wrapper {
  overflow-x: hidden;
}

.sponsors-layers {
  height: 100vh;
}

.sponsors-wrapper {
  overflow-x: hidden;
  background: linear-gradient(45deg, rgb(126, 105, 60) 0%, #000 100%);
}

.sponsors-header {
  position: relative;
}

.sponsors-header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  background-image: url("https://i.ibb.co/DM2Knwf/ground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sponsors-layers {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.sponsors-layer-base {
  background-image: url("./image/back-layer.jpg");
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

.sponsors-layer-middle {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-size: cover;
  background-position: center;
}

.sponsors-layer-front {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-size: cover;
  background-position: center;
}

.sponsors-layer-title {
  position: relative;
  z-index: 1;
  color: #e7e7e0;
  text-shadow: 0 0 15px #9d822b;
  text-transform: uppercase;
  font-weight: 900;
}

.sponsors-article {
  color: rgb(212, 177, 100);

  /* color: #E1C78F; */
  text-align: center;
  width: 100vw;
  justify-content: space-evenly;
}

.sponsors-image {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  filter: drop-shadow(0px 0px 5px #ffd700);
}

.sponsors-article-title {
  font-family: enchantedBold;
  padding: 4rem 0;
  text-transform: uppercase;
  font-size: 40px;
}

.sponsors-article-content {
  margin: 20px;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #c89b3c, #785a28);
}

.sponsors-copy {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
  opacity: 0.45;
  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 37.5);
}

@media screen and (max-width: 768px) {
  .sponsors-title {
    font-size: 24px;
  }

  .sponsors-subtitle {
    font-size: 14px;
  }

  .sponsors-article {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .sponsors-article-content {
    width: 75vw;
    padding: 10px 0;
    align-self: center;
  }

  .sponsors-article-title {
    font-size: 30px;
    justify-content: center;
    align-items: center;
  }

  .sponsors-article-text {
    max-width: 100vw;
    font-size: 16px;
  }

  .sponsors-copy {
    font-size: 12px;
  }

  .sponsors-image {
    max-width: 100%;
    height: auto;
    padding: 0;
    /* margin: 10px; */
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
  }
}
.navbar {
  z-index: 100;
}
